body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
h1 {
    font-size: 48px;
    color: #333;
}
p {
    font-size: 24px;
    color: #666;
}
button{
    border:none;
    color:blue;
}